@{
    ViewData["Title"] = "Home Page";
}


<!-- TODO Slider -->
<div id="carouselExampleIndicators"
     class="carousel slide"
     data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://cdn.turkishairlines.com/m/9b9224adee3fcf/original/1400x350-jpg.jpg"
                 class="d-block"
                 style="width: 100%; height: 400px; opacity: 0.85" />
        </div>
    </div>
</div>

<!-- TODO Uçuş Arama -->
<div class="container" style="margin-top: 100px !important">
    <div class="search-panel p-4">
        <div class="search-options">
            <button class="btn btn-light btn-sm active">Plane Ticket</button>
        </div>
        <hr />
        <form class="search-form" asp-action="SearchFlights" asp-controller="Home" method="get">
            <div class="form-row">
                <div class="col">
                    <select name="departureAirportID" class="form-control" asp-items="ViewBag.DepartureAirports">
                        <option value="" selected disabled hidden>From</option>
                    </select>
                </div>
                <div class="col">
                    <select name="arrivalAirportID" class="form-control" asp-items="ViewBag.ArrivalAirports">
                        <option value="" selected disabled hidden>Where to</option>
                    </select>
                </div>
                <div class="col">
                    <input type="date" class="form-control" placeholder="Date" />
                </div>
                <div class="col">
                    <select class="form-control">
                        <option selected>One-way</option>
                    </select>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-danger btn-block">
                        Search for Flights
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- TODO Şehirler -->
<div class="container my-4" style="margin-top: 150px !important">
    <div class="row">
        @foreach (var airportInfo in ViewBag.AirportInfos)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="@airportInfo.Image" class="card-img-top" alt="@airportInfo.AirportName" />
                    <div class="card-body">
                        <h5 class="card-title">@airportInfo.AirportName</h5>
                        <p class="card-text">Starting from: @airportInfo.LowestPrice USD</p>
                        <p class="card-text">
                            <small class="text-muted">Economy Class</small>
                        </p>
                        <form action="/Home/CountryFlights" method="get">
                            <input type="hidden" name="airportID" value="@airportInfo.AirportID" />
                            <form action="/Home/CommonPurchase" method="get">
                                <input type="hidden" name="id" value="@airportInfo.AirportID" />
                                <button type="submit" class="btn btn-success">Purchase</button>
                            </form>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>




